a:hover {
    text-decoration: none;
    color: #9932cf;
}

.main_color {
    color: #9932cf;
}

img {
    max-width: 100%;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #9932cf;
}

.nav-scroller .active {
    border-bottom: 1px solid #9932cf;
}

.btn-outline-secondary {
    border-color: #9932cf;
}

.blog-header-logo {
    font-size: 2.50rem;
    color: #9932cf;
}

.carousel .carousel-item img {
    height: 400px;
}

.btn-outline-secondary:hover {
    background-color: #9932cf;
    border-color: #9932cf;
}

.border-bottom {
    border-bottom: 1px solid #9932cf !important;
}

.btn_form {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.btn_form span {
    color: white;
    background-color: #9932cf;
    padding: 10px 20px;
    display: block;
    font-weight: bold;
    border: 1px solid #9932cf;
    border-radius: 2px;
    position: relative;
}

.btn_form span:hover {
    box-shadow: 0 0 6px 1px #9932cf;
}

form .mandarory {
    color: red;
}

.gallery img {
    margin: 15px 0px;
}

.bg-gallery {
    background: url(bg-gallery.jpeg) no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: darken;
}

.bg-blog {
    background: url(bg-blog.jpeg) no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: darken;
}

.bg-shop {
    background: url(bg-shop.png) no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: darken;
}
.bg-contacts {
    background: url(bg-contacts.jpeg) no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: darken;
}

.product-grid,
.product-grid .product-image {
    position: relative
}

.product-grid {
    font-family: Poppins, sans-serif;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transition: all .3s ease 0s
}

.product-grid:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.product-grid .product-image a {
    display: block
}

.product-grid .product-image img {
    width: 100%;
    height: auto
}

.product-grid .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.product-grid .product-discount-label,
.product-grid .product-new-label {
    color: #fff;
    background-color: #16a085;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 45px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 15px;
    transition: all .3s
}

.product-grid .product-discount-label {
    left: auto;
    right: 10px;
    background-color: #d7292a
}

.product-grid:hover .product-new-label {
    opacity: 0
}

.product-grid .product-content {
    padding: 25px
}

.product-grid .title {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all .3s ease 0s
}

.product-grid .title a {
    color: #222
}

.product-grid .title a:hover {
    color: #9932cf
}

.product-grid .price {
    color: #9932cf;
    font-size: 17px;
    font-weight: 700;
    margin: 0 2px 15px 0;
    display: block
}

.product-grid .price span {
    color: #909090;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: line-through;
    text-align: left;
    vertical-align: middle;
    display: inline-block
}

.product-grid .add-to-cart {
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 10px 20px;
    color: #888;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s
}

.product-grid:hover .add-to-cart {
    border: 1px solid transparent;
    background: #9932cf;
    color: #fff
}

.product-grid .add-to-cart:hover {
    background-color: #505050;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}
.btn-primary {
    background-color: #9932cf;
    border-color: #9932cf;
}
.btn-primary:hover {
    color: #fff;
    background-color: #6a2090;
    border-color: #9932cf;
}
table.table {
    text-align: center;
}
table.table .maintime {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
iframe{
    border-width: 0px;
}
